$icon-side: 20px;
$border-width: 3px;
$inner-width: 33px;

.theme_selector {
  position: relative;
  width: $icon-side;
  height: $icon-side;
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-width: $border-width;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: $inner-width;
    width: $icon-side + 1px;
    transform: rotate(45deg) translate(-15.5px, -5px);
  }

  &::after {
    content: '';
    position: absolute;
    height: $inner-width;
    width: $icon-side + 1px;
    transform: rotate(45deg) translate(5.4px, -5px);
  }
}
