.button {
  border-radius: 4px;
  min-height: 25px;
  min-width: fit-content;
  border: none;
  padding: 3px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  font-weight: bold;
}

.disabled {
  cursor: auto !important;
  background-color: lightgray !important;
  color: gray !important;
}
