.main {
  display: flex;
  flex-direction: row;
}

.theme_option {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
  padding: 8px;
  align-items: center;
  &:last-child {
    border-right: none;
  }
}

.theme_modal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon_wrapper {
  padding: 5px;
}
