.main {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.theme_option {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
  padding: 8px;
  align-items: center;
  &:last-child {
    border-right: none;
  }
}

.theme_modal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon_wrapper {
  padding: 5px;
}

.ui_theme_text {
  margin: 5px 0 0 0;
  padding: 3px;
  border-radius: 2px;
  text-align: center;
  &.light {
    background-color: red;
  }
}
