.controls_main {
  display: flex;
  flex-direction: column;
}

.controls_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.label {
  position: relative;
  top: 10px;
  width: fit-content;
  &.speed {
    margin-left: 5px;
    margin-right: auto;
  }
  &.generation {
    margin-left: auto;
    margin-right: 5px;
  }
}
